/*OTMIZAÇÃO*/
.forma{
	position: absolute;
	width: 170px;
	margin: 3px;
	background-color: #094293;
	border-radius: 4px;
	font-size: 22px;
	left: 16px;
	overflow: hidden;
	transition: 1s all ease;
	text-transform: uppercase;
	z-index: 999;
}
.forma a{
	text-decoration: none;
	color: #fff;
}
a:link, a:visited {
	text-decoration: none
	}
a:active {
	text-decoration: none
	}
.forma:hover{
	color: #fff;
}

/*ACESSO*/
.acesso{
	position: absolute;
	clear: both;
	box-sizing: all;
	right: 4%;
	top: 0;
}
.login{
	list-style: none;
}
.login li{
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
}
.login li:nth-child(1){
	background: url(../img/separator.gif) no-repeat right center;
	padding-right: 5px;
}
.login li:hover{
	color: #FD6A02;
}
.loginicone{
	position: relative;
	margin-left: 40px;
}
.loginicone:hover{
	color: #ffbf00;
}
.TelaDeLogin{
	display: none;
	position: absolute;
	pointer-events: auto;
	width: 188px;
	height: 120px;
	right: 1%;
	top: 3.7%;
	border: 2px solid #000080;
	border-radius: 5px;
	background-color: #fff;
	z-index: 999;
}
.TelaDeLogin ul li{
	list-style: none;
}
.fa-times-circle{
	position: relative;
	float: right;
	margin: 5px 5px 3px 3px;
	font-size: 17px;
	text-decoration: none;
	color: blue;
}
.fa-times-circle:hover{
	font-size: 18px;
}
.btn-cadastrar{
	top: 18%;
	width: 150px;
}
.btn-cadastrar::before{
	position: absolute;
	background: #FD6A02;
	content: "";
	width: 0;
	height: 100%;
	left: 0px;
	border-radius: 4px; 
	z-index: -1;
	transition: all 0.6s ease;
}

.btn-cadastrar:hover::before{
	width: 100%;
}

.btn-login{
	bottom: 15%;
	width: 150px;
}

.btn-login::before{
	position: absolute;
	background: black;
	content: "";
	width: 0;
	height: 100%;
	left: 0px;
	border-radius: 4px; 
	z-index: -1;
	transition: all 0.6s ease;
}

.btn-login:hover::before{
	width: 100%;
}
